#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
}


  
  body {
    font-family: Helvetica;
    background-color: #0a192f;
    margin-left: 2%;
    width: 95%;
    margin: right;
    z-index: 1;
  }
  
  .contenedor {
    width: 0%;
    margin: 0%;
  }
  
  .Logo {
    width: 70px;
    height: 35px;
    margin-top: 5px;
  }
  /* menu*/
  
 .wrapper{
  position: absolute;
  top: 0;
  /*left: -100%;*/
  right: 100%;
  height: 50%;
  width: 25%;
  background:#0a192f;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  position: absolute;
  z-index: 1;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #64ffda;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .5s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #64ffda;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #64ffda;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 60%;
  height: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 2%;
  padding: 5px 5px;
  color: #64ffda;
  border-radius: 50px;
  position: absolute;
  line-height: 20px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #a8b2d1;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  transform: scaleY(0);
  z-index: 1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #64ffda;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #64ffda;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  transform: translateX(-100px);
}
/* menu*/



  h3 {
    font-weight: bolder;
    color: #64ffda;
    font-size: 19px;
  }
  

/**.nombre {
  color: #a8b2d1;
  font-size: 70px;
  font-weight: bold;
}*/

.nombre {
  color:#a8b2d1;
  width: 20ch;
  animation: typing 6s steps(100), blink .0s step-end ;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px;
  font-family: helvetica;
  font-size: 25px;
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  100% {
    border-color: transparent
  }
}

/*.cargo {
  color: #8892b0;
  font-size: 70px;
  font-weight: bold;
  margin-left: 0%;
}*/
.cargo {
  color:#8892b0;
  width: 100ch;
  animation: typing 8s steps(30), blink .5s step-end ;
  white-space: normal;
  overflow: hidden;
  border-right: 0px solid;
  font-family: helvetica;
  font-size: 27px;
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  100% {
    border-color: transparent
  }
}



p{
    font-family: Arial, Helvetica, sans-serif;
    color: #a8b2d1;
    font-size: 16px;
    text-align: justify;
}
  
  .correo {
    /* Font & Text */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 16px;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid #64ffda;
    text-align: center;
  
    /* Color & Background */
  
    background-image: none;
    color: #64ffda;
  
    /* Box */
  
    height: 40px;
    width: 100px;
    border: 2px solid rgb(100, 255, 218);
    border-top: 2px solid rgb(100, 255, 218);
    border-right: 2px solid rgb(100, 255, 218);
    border-bottom: 2px solid rgb(100, 255, 218);
    border-left: 2px solid rgb(100, 255, 218);
    margin: 410px;
    padding: 10px;
    max-height: none;
    min-height: 30px;
    max-width: 100%;
    min-width: 10%;
  
    /* Positioning */
    position: absolute;
    top: 10px;
    bottom: 390px;
    right: 100px;
    left: -390px;
    float: none;
    z-index: auto;
  }
  
  .cv {
    /* Font & Text */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  
    font-weight: 16px;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid #64ffda;
    text-align: center;
  
    /* Color & Background */
    background-image: none;
    color: #64ffda;
  
    /* Box */
    height: 40px;
    width: 100px;
    border: 2px solid rgb(100, 255, 218);
    border-top: 2px solid rgb(100, 255, 218);
    border-right: 2px solid rgb(100, 255, 218);
    border-bottom: 2px solid rgb(100, 255, 218);
    border-left: 2px solid rgb(100, 255, 218);
    margin: 410px;
    padding: 10px;
    max-height: none;
    min-height: 30px;
    max-width: 100%;
    min-width: 10%;
  
    /* Positioning */
    position: absolute;
    top: 10px;
    bottom: 0px;
    right: 0px;
    left: -220px;
    float: none;
    display: center;
    clear: none;
    z-index: auto;
  }
 
  .img {
    
    padding: 0.1em;
    margin-top:-140px;
    position:static;
    margin-left:160px;
    width:100px;
    height:100px;
  }
  
  .Presentacion {
    
    font-family: Helvetica;
    color: #a8b2d1;
    font-size: 16px;
    text-align: left;
    z-index: 5;
    
  }
  
  
  .programas {
    font-family: Arial, Helvetica, sans-serif;
   
    color: #64ffda;
  }
  
  .programas2 {
  
    /* Positioning */
    color: #64ffda;
    position: static;
  }

  .programas3{
    color: #64ffda;
    position: static;
    top: 1054px;
  }
  
  
  .formacion {
    font-family: Helvetica;
    color: #a8b2d1;
  }
  
  .formacion2 {
    color: #a8b2d1;
    position: static;
    top: 1380px;
    
  }
  
  .Experiencia {
    color: #a8b2d1;
  }
  
  .Experiencia2 {
    color: #a8b2d1;
    position: static;
    top: 1990px;
    
  }
  
  .contactotexto {
    text-align: static;
    color: #8892b0;
    
  }
  
  .Contacto {
    align-items: center;
    color: #64ffda;
    height: 10px;
    width: 10px;
    border: 2px solid rgb(100, 255, 218);
    border-top: 2px solid rgb(100, 255, 218);
    border-right: 2px solid rgb(100, 255, 218);
    border-bottom: 2px solid rgb(100, 255, 218);
    border-left: 2px solid rgb(100, 255, 218);
    margin: 40px;
    padding: 10px;
    max-height: none;
    min-height: 2%;
    max-width: 2%;
    min-width: 12%;
    margin-left: 40%;
    z-index: 0;
  }
  
  .facebook {
    display: inline;
    cursor: pointer;
    position: inherit;
    width: 10px;
    height: 25px;
    margin-left: 60px;
    margin-top: 140px;
    position: absolute;
    z-index: 0;
    
  }
  .instagram {
    display: inline;
    cursor: pointer;
    position: inherit;
    width: 25px;
    height: 25px;
    margin-top: 140px;
    position: absolute;
    z-index: 0;
    margin-left: 90px;
  }
  
  .twitter {
    display: inline;
    cursor: pointer;
    position: inherit;
    width: 31px;
    height: 25px;
   margin-top: 140px;
    position: absolute;
    z-index: 0;
    margin-left: 130px;
  }
  
  .behance {
    display: inline;
    cursor: pointer;
    position: inherit;
    width: 26px;
    height: 17px;
    margin-top: 145px;
    position: absolute;
    z-index: 0;
    margin-left: 175px;
  }
  
  .git {
    display: inherit;
    cursor: pointer;
    position: absolute;
    width: 26px;
    height: 25px;
    
    margin-top: 140px;
    z-index: 0;
    margin-left: 220px;
  }
  
  .linked {
    display: inherit;
    cursor: pointer;
    position: absolute;
    width: 26px;
    height: 25px;
   margin-top: 140px;
    z-index: 0;
    margin-left: 270px;
  }

  .iconohaciaarriba{
    display: inherit;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 130px;
    z-index: 0;
    margin-left: 320px;
  
  }

  
  
  .Portafolio {
    color: #64ffda;
    margin-top: 100px;
    margin-left: 500px;
  }
  
  a {
    text-decoration: none;
  }
  
  footer {
    font-size: 14px;
    color: #64ffda;
    font-family: Helvetica;
    top: -490px;
    margin-block: 90px;
  }
  
  .portafolio {
    color: #64ffda;
    
    margin-left:30%;
  }
  /***Standby***
  .imagenes {
    position: relative;
    filter: grayscale(100%);
    transition: 0.3s;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .imagenes:hover {
    filter: grayscale(0%);
  }****/
  
  
  /***Codigo copiado***/
  
  .portfolio-menu{
    text-align:center;
    
  }
  .portfolio-menu ul li{
    
    display:inline-block;
    margin:0;
    list-style:none;
    padding:10px 15px;
    cursor:pointer;
    -webkit-transition:all 05s ease;
    -moz-transition:all 05s ease;
    -ms-transition:all 05s ease;
    -o-transition:all 05s ease;
    transition:all .5s ease;
  }
  
  .portfolio-item{
    /*width:100%;*/
  }
  .portfolio-item .item{
    /*width:303px;*/
    float:left;
    margin-bottom:10px;
    z-index:1;
  }
  

@media only screen and (-webkit-min-device-pixel-ratio:1024px x 800px) {

}